{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://budgets.amazonaws.com/"
        },
        {
            "url": "http://budgets.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>The AWS Budgets API enables you to use AWS Budgets to plan your service usage, service costs, and instance reservations. The API reference provides descriptions, syntax, and usage examples for each of the actions and data types for AWS Budgets. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from AWS, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The AWS Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the AWS Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Budgets",
        "version": "2016-10-20",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/budgets-2016-10-20.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "budgets"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/budgets/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a budget and, if included, notifications and subscribers. ",
                "operationId": "CreateBudget",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of CreateBudget ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CreationLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DuplicateRecordException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of CreateBudget ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "Budget": {
                                        "description": "The budget object that you want to create.",
                                        "properties": {
                                            "BudgetLimit": {
                                                "description": "<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>",
                                                "properties": {
                                                    "Amount": {
                                                        "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                        "maxLength": 2147483647,
                                                        "minLength": 1,
                                                        "pattern": "([0-9]*\\.)?[0-9]+",
                                                        "type": "string"
                                                    },
                                                    "Unit": {
                                                        "description": "The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.",
                                                        "maxLength": 2147483647,
                                                        "minLength": 1,
                                                        "pattern": ".*",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Amount",
                                                    "Unit"
                                                ],
                                                "type": "object"
                                            },
                                            "BudgetName": {
                                                "description": "The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.",
                                                "maxLength": 100,
                                                "minLength": 1,
                                                "pattern": "[^:\\\\]+",
                                                "type": "string"
                                            },
                                            "BudgetType": {
                                                "description": "Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.",
                                                "enum": [
                                                    "USAGE",
                                                    "COST",
                                                    "RI_UTILIZATION",
                                                    "RI_COVERAGE"
                                                ],
                                                "type": "string"
                                            },
                                            "CalculatedSpend": {
                                                "description": "The actual and forecasted cost or usage that the budget tracks.",
                                                "properties": {
                                                    "ActualSpend": {
                                                        "description": "The amount of cost, usage, or RI units that you have used.",
                                                        "properties": {
                                                            "Amount": {
                                                                "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                                "maxLength": 2147483647,
                                                                "minLength": 1,
                                                                "pattern": "([0-9]*\\.)?[0-9]+",
                                                                "type": "string"
                                                            },
                                                            "Unit": {
                                                                "description": "The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.",
                                                                "maxLength": 2147483647,
                                                                "minLength": 1,
                                                                "pattern": ".*",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Amount",
                                                            "Unit"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "ForecastedSpend": {
                                                        "description": "The amount of cost, usage, or RI units that you are forecasted to use.",
                                                        "properties": {
                                                            "Amount": {
                                                                "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                                "maxLength": 2147483647,
                                                                "minLength": 1,
                                                                "pattern": "([0-9]*\\.)?[0-9]+",
                                                                "type": "string"
                                                            },
                                                            "Unit": {
                                                                "description": "The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.",
                                                                "maxLength": 2147483647,
                                                                "minLength": 1,
                                                                "pattern": ".*",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Amount",
                                                            "Unit"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "ActualSpend"
                                                ],
                                                "type": "object"
                                            },
                                            "CostFilters": {
                                                "description": "<p>The cost filters, such as service or region, that are applied to a budget.</p> <p>AWS Budgets supports the following services as a filter for RI budgets:</p> <ul> <li> <p>Amazon Elastic Compute Cloud - Compute</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon Elasticsearch Service</p> </li> </ul>",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "description": " A generic string.",
                                                            "maxLength": 2147483647,
                                                            "minLength": 0,
                                                            "pattern": ".*",
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "items": {
                                                                "description": " A generic string.",
                                                                "maxLength": 2147483647,
                                                                "minLength": 0,
                                                                "pattern": ".*",
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "CostTypes": {
                                                "description": "<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>",
                                                "properties": {
                                                    "IncludeCredit": {
                                                        "description": "<p>Specifies whether a budget includes credits.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeDiscount": {
                                                        "description": "<p>Specifies whether a budget includes discounts.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeOtherSubscription": {
                                                        "description": "<p>Specifies whether a budget includes non-RI subscription costs.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeRecurring": {
                                                        "description": "<p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeRefund": {
                                                        "description": "<p>Specifies whether a budget includes refunds.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeSubscription": {
                                                        "description": "<p>Specifies whether a budget includes subscriptions.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeSupport": {
                                                        "description": "<p>Specifies whether a budget includes support subscription fees.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeTax": {
                                                        "description": "<p>Specifies whether a budget includes taxes.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "IncludeUpfront": {
                                                        "description": "<p>Specifies whether a budget includes upfront RI costs.</p> <p>The default value is <code>true</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "UseAmortized": {
                                                        "description": "<p>Specifies whether a budget uses the amortized rate.</p> <p>The default value is <code>false</code>.</p>",
                                                        "type": "boolean"
                                                    },
                                                    "UseBlended": {
                                                        "description": "<p>Specifies whether a budget uses a blended rate.</p> <p>The default value is <code>false</code>.</p>",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "LastUpdatedTime": {
                                                "description": "The last time that you updated this budget.",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "TimePeriod": {
                                                "description": "<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>",
                                                "properties": {
                                                    "End": {
                                                        "description": "<p>The end date for a budget. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p> <p>After the end date, AWS deletes the budget and all associated notifications and subscribers. You can change your end date with the <code>UpdateBudget</code> operation.</p>",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Start": {
                                                        "description": "<p>The start date for a budget. If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p> <p>You can change your start date with the <code>UpdateBudget</code> operation.</p>",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "TimeUnit": {
                                                "description": "The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code> and <code>RI_COVERAGE</code> budgets.",
                                                "enum": [
                                                    "DAILY",
                                                    "MONTHLY",
                                                    "QUARTERLY",
                                                    "ANNUALLY"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "BudgetName",
                                            "TimeUnit",
                                            "BudgetType"
                                        ],
                                        "type": "object"
                                    },
                                    "NotificationsWithSubscribers": {
                                        "description": "A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, AWS creates the notifications and subscribers for you.",
                                        "items": {
                                            "description": "A notification with subscribers. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.",
                                            "properties": {
                                                "Notification": {
                                                    "description": "The notification that is associated with a budget.",
                                                    "properties": {
                                                        "ComparisonOperator": {
                                                            "description": "The comparison that is used for this notification.",
                                                            "enum": [
                                                                "GREATER_THAN",
                                                                "LESS_THAN",
                                                                "EQUAL_TO"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "NotificationState": {
                                                            "description": "Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.",
                                                            "enum": [
                                                                "OK",
                                                                "ALARM"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "NotificationType": {
                                                            "description": "Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).",
                                                            "enum": [
                                                                "ACTUAL",
                                                                "FORECASTED"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Threshold": {
                                                            "description": "The threshold that is associated with a notification. Thresholds are always a percentage.",
                                                            "format": "double",
                                                            "maximum": 1000000000,
                                                            "minimum": 0,
                                                            "type": "number"
                                                        },
                                                        "ThresholdType": {
                                                            "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.",
                                                            "enum": [
                                                                "PERCENTAGE",
                                                                "ABSOLUTE_VALUE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "NotificationType",
                                                        "ComparisonOperator",
                                                        "Threshold"
                                                    ],
                                                    "type": "object"
                                                },
                                                "Subscribers": {
                                                    "description": "A list of subscribers who are subscribed to this notification.",
                                                    "items": {
                                                        "description": "<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p> <p>For example, an email subscriber would have the following parameters:</p> <ul> <li> <p>A <code>subscriptionType</code> of <code>EMAIL</code> </p> </li> <li> <p>An <code>address</code> of <code>example@example.com</code> </p> </li> </ul>",
                                                        "properties": {
                                                            "Address": {
                                                                "description": "The address that AWS sends budget notifications to, either an SNS topic or an email.",
                                                                "format": "password",
                                                                "maxLength": 2147483647,
                                                                "minLength": 1,
                                                                "pattern": ".*",
                                                                "type": "string"
                                                            },
                                                            "SubscriptionType": {
                                                                "description": "The type of notification that AWS sends to a subscriber.",
                                                                "enum": [
                                                                    "SNS",
                                                                    "EMAIL"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "SubscriptionType",
                                                            "Address"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 11,
                                                    "minItems": 1,
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "Notification",
                                                "Subscribers"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 5,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "Budget"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateNotification": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a notification. You must create the budget before you create the associated notification.",
                "operationId": "CreateNotification",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of CreateNotification ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CreationLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DuplicateRecordException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of CreateNotification ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget that you want to create a notification for.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "BudgetName": {
                                        "description": "The name of the budget that you want AWS to notify you about. Budget names must be unique within an account.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[^:\\\\]+",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "The notification that you want to create.",
                                        "properties": {
                                            "ComparisonOperator": {
                                                "description": "The comparison that is used for this notification.",
                                                "enum": [
                                                    "GREATER_THAN",
                                                    "LESS_THAN",
                                                    "EQUAL_TO"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationState": {
                                                "description": "Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.",
                                                "enum": [
                                                    "OK",
                                                    "ALARM"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationType": {
                                                "description": "Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).",
                                                "enum": [
                                                    "ACTUAL",
                                                    "FORECASTED"
                                                ],
                                                "type": "string"
                                            },
                                            "Threshold": {
                                                "description": "The threshold that is associated with a notification. Thresholds are always a percentage.",
                                                "format": "double",
                                                "maximum": 1000000000,
                                                "minimum": 0,
                                                "type": "number"
                                            },
                                            "ThresholdType": {
                                                "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.",
                                                "enum": [
                                                    "PERCENTAGE",
                                                    "ABSOLUTE_VALUE"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NotificationType",
                                            "ComparisonOperator",
                                            "Threshold"
                                        ],
                                        "type": "object"
                                    },
                                    "Subscribers": {
                                        "description": "A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.",
                                        "items": {
                                            "description": "<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p> <p>For example, an email subscriber would have the following parameters:</p> <ul> <li> <p>A <code>subscriptionType</code> of <code>EMAIL</code> </p> </li> <li> <p>An <code>address</code> of <code>example@example.com</code> </p> </li> </ul>",
                                            "properties": {
                                                "Address": {
                                                    "description": "The address that AWS sends budget notifications to, either an SNS topic or an email.",
                                                    "format": "password",
                                                    "maxLength": 2147483647,
                                                    "minLength": 1,
                                                    "pattern": ".*",
                                                    "type": "string"
                                                },
                                                "SubscriptionType": {
                                                    "description": "The type of notification that AWS sends to a subscriber.",
                                                    "enum": [
                                                        "SNS",
                                                        "EMAIL"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "SubscriptionType",
                                                "Address"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 11,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "BudgetName",
                                    "Notification",
                                    "Subscribers"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateSubscriber": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a subscriber. You must create the associated budget and notification before you create the subscriber.",
                "operationId": "CreateSubscriber",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of CreateSubscriber ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CreationLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DuplicateRecordException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of CreateSubscriber ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "BudgetName": {
                                        "description": "The name of the budget that you want to subscribe to. Budget names must be unique within an account.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[^:\\\\]+",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "The notification that you want to create a subscriber for.",
                                        "properties": {
                                            "ComparisonOperator": {
                                                "description": "The comparison that is used for this notification.",
                                                "enum": [
                                                    "GREATER_THAN",
                                                    "LESS_THAN",
                                                    "EQUAL_TO"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationState": {
                                                "description": "Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.",
                                                "enum": [
                                                    "OK",
                                                    "ALARM"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationType": {
                                                "description": "Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).",
                                                "enum": [
                                                    "ACTUAL",
                                                    "FORECASTED"
                                                ],
                                                "type": "string"
                                            },
                                            "Threshold": {
                                                "description": "The threshold that is associated with a notification. Thresholds are always a percentage.",
                                                "format": "double",
                                                "maximum": 1000000000,
                                                "minimum": 0,
                                                "type": "number"
                                            },
                                            "ThresholdType": {
                                                "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.",
                                                "enum": [
                                                    "PERCENTAGE",
                                                    "ABSOLUTE_VALUE"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NotificationType",
                                            "ComparisonOperator",
                                            "Threshold"
                                        ],
                                        "type": "object"
                                    },
                                    "Subscriber": {
                                        "description": "The subscriber that you want to associate with a budget notification.",
                                        "properties": {
                                            "Address": {
                                                "description": "The address that AWS sends budget notifications to, either an SNS topic or an email.",
                                                "format": "password",
                                                "maxLength": 2147483647,
                                                "minLength": 1,
                                                "pattern": ".*",
                                                "type": "string"
                                            },
                                            "SubscriptionType": {
                                                "description": "The type of notification that AWS sends to a subscriber.",
                                                "enum": [
                                                    "SNS",
                                                    "EMAIL"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SubscriptionType",
                                            "Address"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "BudgetName",
                                    "Notification",
                                    "Subscriber"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteBudget": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>",
                "operationId": "DeleteBudget",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of DeleteBudget ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of DeleteBudget ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget that you want to delete.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "BudgetName": {
                                        "description": "The name of the budget that you want to delete.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[^:\\\\]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "BudgetName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteNotification": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>",
                "operationId": "DeleteNotification",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of DeleteNotification ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of DeleteNotification ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget whose notification you want to delete.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "BudgetName": {
                                        "description": "The name of the budget whose notification you want to delete.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[^:\\\\]+",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "The notification that you want to delete.",
                                        "properties": {
                                            "ComparisonOperator": {
                                                "description": "The comparison that is used for this notification.",
                                                "enum": [
                                                    "GREATER_THAN",
                                                    "LESS_THAN",
                                                    "EQUAL_TO"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationState": {
                                                "description": "Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.",
                                                "enum": [
                                                    "OK",
                                                    "ALARM"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationType": {
                                                "description": "Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).",
                                                "enum": [
                                                    "ACTUAL",
                                                    "FORECASTED"
                                                ],
                                                "type": "string"
                                            },
                                            "Threshold": {
                                                "description": "The threshold that is associated with a notification. Thresholds are always a percentage.",
                                                "format": "double",
                                                "maximum": 1000000000,
                                                "minimum": 0,
                                                "type": "number"
                                            },
                                            "ThresholdType": {
                                                "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.",
                                                "enum": [
                                                    "PERCENTAGE",
                                                    "ABSOLUTE_VALUE"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NotificationType",
                                            "ComparisonOperator",
                                            "Threshold"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "BudgetName",
                                    "Notification"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteSubscriber": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>",
                "operationId": "DeleteSubscriber",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of DeleteSubscriber ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request of DeleteSubscriber ",
                                "properties": {
                                    "AccountId": {
                                        "description": "The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.",
                                        "maxLength": 12,
                                        "minLength": 12,
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "BudgetName": {
                                        "description": "The name of the budget whose subscriber you want to delete.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[^:\\\\]+",
                                        "type": "string"
                                    },
                                    "Notification": {
                                        "description": "The notification whose subscriber you want to delete.",
                                        "properties": {
                                            "ComparisonOperator": {
                                                "description": "The comparison that is used for this notification.",
                                                "enum": [
                                                    "GREATER_THAN",
                                                    "LESS_THAN",
                                                    "EQUAL_TO"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationState": {
                                                "description": "Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.",
                                                "enum": [
                                                    "OK",
                                                    "ALARM"
                                                ],
                                                "type": "string"
                                            },
                                            "NotificationType": {
                                                "description": "Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).",
                                                "enum": [
                                                    "ACTUAL",
                                                    "FORECASTED"
                                                ],
                                                "type": "string"
                                            },
                                            "Threshold": {
                                                "description": "The threshold that is associated with a notification. Thresholds are always a percentage.",
                                                "format": "double",
                                                "maximum": 1000000000,
                                                "minimum": 0,
                                                "type": "number"
                                            },
                                            "ThresholdType": {
                                                "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.",
                                                "enum": [
                                                    "PERCENTAGE",
                                                    "ABSOLUTE_VALUE"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "NotificationType",
                                            "ComparisonOperator",
                                            "Threshold"
                                        ],
                                        "type": "object"
                                    },
                                    "Subscriber": {
                                        "description": "The subscriber that you want to delete.",
                                        "properties": {
                                            "Address": {
                                                "description": "The address that AWS sends budget notifications to, either an SNS topic or an email.",
                                                "format": "password",
                                                "maxLength": 2147483647,
                                                "minLength": 1,
                                                "pattern": ".*",
                                                "type": "string"
                                            },
                                            "SubscriptionType": {
                                                "description": "The type of notification that AWS sends to a subscriber.",
                                                "enum": [
                                                    "SNS",
                                                    "EMAIL"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SubscriptionType",
                                            "Address"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "AccountId",
                                    "BudgetName",
                                    "Notification",
                                    "Subscriber"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeBudget": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes a budget.",
                "operationId": "DescribeBudget",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Response of DescribeBudget ",
                                    "properties": {
                                        "Budget": {
                                            "description": "The description of the budget.",
                                            "properties": {
                                                "BudgetLimit": {
                                                    "description": "<p>The total amount of cost, usage, RI utilization, or RI coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI utilization or coverage budgets. RI utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI utilization or coverage budgets.</p>",
                                                    "properties": {
                                                        "Amount": {
                                                            "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                            "maxLength": 2147483647,
                                                            "minLength": 1,
                                                            "pattern": "([0-9]*\\.)?[0-9]+",
                                                            "type": "string"
                                                        },
                                                        "Unit": {
                                                            "description": "The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.",
                                                            "maxLength": 2147483647,
                                                            "minLength": 1,
                                                            "pattern": ".*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Amount",
                                                        "Unit"
                                                    ],
                                                    "type": "object"
                                                },
                                                "BudgetName": {
                                                    "description": "The name of a budget. The name must be unique within accounts. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "[^:\\\\]+",
                                                    "type": "string"
                                                },
                                                "BudgetType": {
                                                    "description": "Whether this budget tracks monetary costs, usage, RI utilization, or RI coverage.",
                                                    "enum": [
                                                        "USAGE",
                                                        "COST",
                                                        "RI_UTILIZATION",
                                                        "RI_COVERAGE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "CalculatedSpend": {
                                                    "description": "The actual and forecasted cost or usage that the budget tracks.",
                                                    "properties": {
                                                        "ActualSpend": {
                                                            "description": "The amount of cost, usage, or RI units that you have used.",
                                                            "properties": {
                                                                "Amount": {
                                                                    "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                                    "maxLength": 2147483647,
                                                                    "minLength": 1,
                                                                    "pattern": "([0-9]*\\.)?[0-9]+",
                                                                    "type": "string"
                                                                },
                                                                "Unit": {
                                                                    "description": "The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.",
                                                                    "maxLength": 2147483647,
                                                                    "minLength": 1,
                                                                    "pattern": ".*",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Amount",
                                                                "Unit"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "ForecastedSpend": {
                                                            "description": "The amount of cost, usage, or RI units that you are forecasted to use.",
                                                            "properties": {
                                                                "Amount": {
                                                                    "description": "The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.",
                                                                    "maxLength": 2147483647,
                                                                    "minLength": 1,
[...]
